@import "tailwindcss";

:root {
  --beige: #f5efe6;
  --ivory: #fffdf9;
  --rose: #d66a7a;
  --brown: #6b4f3f;
}

body {
  background-color: var(--beige);
  font-family: "Poppins", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
